<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Pace &amp; Plates Workout</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.justj0rsh.paceandplates.ppworkout</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>PPWorkoutIcon</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Pace &amp; Plates Workout File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.justj0rsh.paceandplates.paceplate</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>PaceplateDocIcon</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pace &amp; Plates Workout</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconFiles</key>
				<array>
					<string>PPWorkoutIcon</string>
				</array>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.justj0rsh.paceandplates.ppworkout</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppworkout</string>
					<string>workout</string>
				</array>
				<!-- Removed MIME type to prevent system choosing JSON icon -->
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pace &amp; Plates Workout File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconFiles</key>
				<array>
					<string>PaceplateDocIcon</string>
				</array>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.justj0rsh.paceandplates.paceplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paceplate</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-paceplate</string>
				</array>
			</dict>
		</dict>
	</array>

</dict>
</plist>
